<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Roblox Fivver Where I Can Get Money</title>
        <meta name="description" content="Roblox Fivver Where I Can Get Money">
        <meta name="viewport" content="width=device-width,initial-scale=1">
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	    <meta name="title" content="Roblox Fivver">
        <meta name="keywords" content="idek what keyword should be here">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost:3000/assets/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Brand/Name</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">LINK</a></li>
                        <li><a href="#">LINK</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- First Container (Who are we?) -->
        <div class="container-fluid bg-1 text-center">
          <h3 class="margin">Who are we?</h3>
          <h4>What do we do?</h4>
        </div>
        
        <!-- Second Container (Search For Gigs) -->
        <div class="container-fluid bg-2 text-center">
          <h3 class="margin">What Am I?</h3>
          <p>Look for gigs!</p>
          <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
          </a>
        </div>
        
        <!-- Third Container (Grid Example Gigs) -->
        <div class="container-fluid bg-3 text-center">    
          <h3 class="margin">Types of Gigs</h3><br>
          <div class="row">
            <div class="col-sm-4">
              <p>Website Gigs</p>
              <img src="" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4"> 
              <p>Example Gig</p>
              <img src="" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4"> 
              <p>Example Gig</p>
              <img src="" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
          </div>
        </div>
        <!-- Footer -->
        <footer class="container-fluid bg-4 text-center">
            <p>©2021, <a href="https://github.com/Repremy">Repremy</a></p> 
        </footer>
    </body>
</html>