<!DOCTYPE html>
<html>
    <head>
      <%- include('../../partials/head'); %>
    </head>
    <body>
        <%- include('../../partials/navbar'); %>
        <!-- Login Container -->
        <div class="container-fluid bg-1 text-center">
          <h3 class="margin">Registration</h3>
          <div class="container-fluid bg-3 text-center rounded-border">
            <p>E-Mail:</p><input class="bg-5" id="email" type="text">
            <p>Username:</p><input class="bg-5" id="username" type="text">
            <p>Password:</p><input class="bg-5" id="password" type="password"><br><br>
            <button>Register</button>
          </div>
        </div>
        <%- include('../../partials/footer'); %>
    </body>
</html>